.header {
    position: relative;
}

.header-img {
    height: 400px;
    width: 100%;
}

.content {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}
.header-content{
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-content button {
    padding: 5px;
}
.logo {
    background-color: white;
    color: red;
    height: 136px;
    width: 129px;
    font-size: 60px;
    text-align: center;
    margin: auto;
    border-radius: 60%;
}
.item{
    padding: 10px;
}
.item-img{
    display: inline-block;
    vertical-align: middle;
    border-radius: 20%;
}