.header {
    position: relative;
}

.header-img {
    height: 400px;
    width: 100%;
}

.content {
    position: absolute;
    top: 10px;
    right: 10px
}
.subheader{
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;   
}
.logo{
    background-color: white;
    color: red;
    height: 136px;
    width: 129px;
    font-size: 60px;
    text-align: center;
    margin: auto;
    border-radius: 60%;
}